
<div class="row">
    <div class="col-12 col-lg-6">
        <!-- Job Statistics -->
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Job Statistics</h4>
                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="chart_2" height="120"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <div class="col-12 col-lg-6">
        <!-- Ads Stats -->
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Ads Stats</h4>
                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <div class="">
                    <canvas id="satatistics1" height="120" style="position: absolute;"></canvas>
                    <canvas id="satatistics2" height="120"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <!-- Bar Chart -->
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Job Statistics</h4>
                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <div class="chart-responsive">
                    <div class="chart" id="bar-chart" style="height: 300px;"></div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <div class="col-12 col-lg-6">
        <!-- Revenue Statistics -->
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Revenue Statistics</h4>
                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body chart-responsive">
                <div class="chart" id="revenue-chart" style="height: 300px;"></div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


<script>

    <!-- jQuery 3 -->
    <script src="../assets/vendor_components/jquery/dist/jquery.js"></script>

<!-- jQuery UI 1.11.4 -->
<script src="../assets/vendor_components/jquery-ui/jquery-ui.js"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>

<!-- popper -->
<script src="../assets/vendor_components/popper/dist/popper.min.js"></script>

<!-- Bootstrap 4.0-->
<script src="../assets/vendor_components/bootstrap/dist/js/bootstrap.js"></script>

<!-- ChartJS -->
<script src="../assets/vendor_components/chart.js-master/Chart.min.js"></script>

<!-- Slimscroll -->
<script src="../assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- FastClick -->
<script src="../assets/vendor_components/fastclick/lib/fastclick.js"></script>

<!-- peity -->
<script src="../assets/vendor_components/jquery.peity/jquery.peity.js"></script>

<!-- Morris.js charts -->
<script src="../assets/vendor_components/raphael/raphael.min.js"></script>
<script src="../assets/vendor_components/morris.js/morris.min.js"></script>

<!-- Fab Admin App -->
<script src="js/template.js"></script>

<!-- Fab Admin dashboard demo (This is only for demo purposes) -->
<script src="js/pages/dashboard.js"></script>

<!-- Fab Admin for demo purposes -->
<script src="js/demo.js"></script>

<!-- Vector map JavaScript -->
<script src="../assets/vendor_components/jvectormap/lib2/jquery-jvectormap-2.0.2.min.js"></script>
<script src="../assets/vendor_components/jvectormap/lib2/jquery-jvectormap-world-mill-en.js"></script>
<script src="../assets/vendor_components/jvectormap/lib2/jquery-jvectormap-us-aea-en.js"></script>
</script>